default: &default
  adapter: postgresql
  encoding: unicode
  host:  <%= ENV.fetch("DATABASE_HOST") { 'db' } %>
  username: <%= ENV.fetch("DATABASE_USERNAME") { 'username' } %>
  password:   <%= ENV.fetch("DATABASE_PASSWORD") { 'password' } %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 1 } %>

development:
  <<: *default
  database: sportsball_development


test:
  <<: *default
  database: sportsball_test

production:
  <<: *default
  database: sportsball_production
  username: sportsball
  password: <%= ENV['SPORTSBALL_DATABASE_PASSWORD'] %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
